<Project Sdk="Microsoft.NET.Sdk">

  <PropertyGroup>
    <TargetFramework>net8.0</TargetFramework>
    <ImplicitUsings>enable</ImplicitUsings>
    <Nullable>enable</Nullable>
  </PropertyGroup>

  <!-- Include Dashboard files in project -->
  <ItemGroup>
    <None Include="..\DeploymentDashboard\**\*" Link="%(RecursiveDir)%(Filename)%(Extension)">
      <CopyToOutputDirectory>PreserveNewest</CopyToOutputDirectory>
    </None>
  </ItemGroup>

  <!-- Remove default Class1.cs -->
  <ItemGroup>
    <Compile Remove="Class1.cs" />
  </ItemGroup>

</Project>
